<!DOCTYPE html>
<html lang="pl" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (ViewData["Title"] == null) {
    <title>Słownik polonijny</title>
    <meta property="og:title" content="Słownik polonijny" />
    } else {
    <title>@ViewData["Title"] - Słownik polonijny</title>
    <meta property="og:title" content="@ViewData["Title"] - Słownik polonijny" />
    }

    @{ var description = ViewData["Description"] ?? "Zbiór zwrotów zmienionych przez Polaków za granicą, używanych jako polskie lub w zastępstwie."; }
    <meta name="description" content="@description" />
    <meta property="og:description" content="@description" />

    <meta name="author" content="Zbigniew Roman Frącz" />

    <meta property="og:type" content="website" />
    @{ var currentPageLink = $"https://www.slownikpolonijny.com{ViewData["Link"]}"; }
    <meta property="og:url" content="@currentPageLink" />
    <meta property="og:locale" content="pl_PL" />
    <meta property="fb:app_id" content="663455953752217" />
    <meta property="og:site_name" content="Słownik polonijny" />
    <meta property="og:image" content="https://www.slownikpolonijny.com/logo.jpg" />

    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/easy-autocomplete/easy-autocomplete.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-truncate" asp-area="" asp-controller="home" asp-action="index"><img alt="Strona główna" src="~/favicon.ico" /> Słownik polonijny</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="home" asp-action="random">Losuj <span class="glyphicon glyphicon-random"></span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Litera</a>
                            <div class="dropdown-menu" style="columns: 5;">
                                 @for (int i = 0; i < AlphabetViewModel.UpperCase.Length; ++i) {
                                    <a class="dropdown-item" asp-controller="home" asp-action="Letter" asp-route-letter="@AlphabetViewModel.LowerCase[i]">@AlphabetViewModel.UpperCase[i]</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="home" asp-action="latest">Najnowsze <span class="glyphicon glyphicon-asterisk"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="home" asp-action="add">Dodaj <span class="glyphicon glyphicon-plus"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="home" asp-action="about">O słowniku</a>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>
                    <form class="form-inline">
                        <input class="form-control" style="min-width: 200px;" type="search" placeholder="szukaj" aria-label="Szukaj" id="search" name="search">
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            <p class="text-muted text-wrap">
                &copy; <a href="http://zrfracz.com">Zbigniew Roman Frącz</a> &amp; <a href="https://filipfracz.net">Filip Frącz</a>
                2014-present. All rights reserved. Wszelkie prawa zastrzeżone.
                Kod źródłowy dostępny na <a href="https://github.com/itsff/polonijny">GitHub</a>.
            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easy-autocomplete/jquery.easy-autocomplete.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
