@model EntryViewModel
@using System.Text

@{
    string FormatExample(string text)
    {
        var re = EntryViewModel.LinkRegex;
        var matches = re.Matches(text);

        foreach (System.Text.RegularExpressions.Match m in matches)
        {
            var textGroup = m.Groups["text"];
            if (textGroup.Success)
            {
                string link = string.Empty;
                var linkGroup = m.Groups["link"];
                if (linkGroup.Success)
                {
                    string href = Url.Action("Entry", "Home", new { name = linkGroup.Value });
                    link =  $"<a href=\"{href}\">{textGroup.Value}</a>";
                }
                else
                {
                    string href = Url.Action("Entry", "Home", new { name = textGroup.Value });
                    link = $"<a href=\"{href}\">{textGroup.Value}</a>";
                }

                text = re.Replace(text, link, 1);
            }
        }

        return text;
    }
}

@foreach(var entry in Model.Entries) {
    <div class="card">
        <div class="card-header">
            <h3>@entry.Name</h3>
            @if (Model.ShowEdit) {
                <a asp-controller="admin" asp-action="edit" asp-route-id="@entry.Id">Edycja hasła</a>
            }
        </div>
        <div class="card-body">
            <div>
                    @if (entry.Meanings.Count > 0) {
                    <div>
                        <strong>znaczenie</strong>
                        <ul>
                            @foreach(var m in entry.Meanings) {
                            <li>@Html.Raw(FormatExample(m))</li>
                            }
                        </ul>
                    </div>
                    }

                    @if (entry.EnglishMeanings.Count > 0) {
                    <div>
                        <strong>znaczenie angielskie</strong>
                        <ul>
                            @foreach(var m in entry.EnglishMeanings) {
                            <li>@Html.Raw(FormatExample(m))</li>
                            }
                        </ul>
                    </div>
                    }

                    @if (entry.Examples.Count > 0) {
                    <div>
                        <strong>przykład</strong>
                        <ul>
                            @foreach(var m in entry.Examples) {
                            <li>@Html.Raw(FormatExample(m))</li>
                            }
                        </ul>
                    </div>
                    }

                    @if (entry.SeeAlso.Count > 0) {
                    <div>
                        <strong>zobacz też</strong>
                        <ul>
                            @foreach(var m in entry.SeeAlso) {
                            <li><a asp-action="entry" asp-route-name="@m">@m</a></li>
                            }
                        </ul>
                    </div>
                    }
                @* <div class="col-md-auto">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Vertical banner 120x240 -->
                    <ins class="adsbygoogle"
                        style="display:inline-block;width:120px;height:240px"
                        data-ad-client="ca-pub-7772971751638753"
                        data-ad-slot="4827832080"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div> *@
                @if (Model.ShowEdit) {
                <div>
                    <strong>administracja</strong>
                    <ul>
                        <li>
                            <strong>Modifikacja:</strong>
                            <span>@entry.LastModified.ToString("yyyy-MM-dd HH:mm:ss.ffffZ")</span>
                        </li>
                        <li>
                            <strong>Dodano:</strong>
                            <span>@entry.TimeAdded.ToString("yyyy-MM-dd HH:mm:ss.ffffZ")</span>
                        </li>
                        <li>
                            <strong>Z internetu:</strong>
                            <span>@(entry.FromInternet ? "tak" : "nie")</span>
                        </li>
                        <li>
                            <strong>Adres IP:</strong>
                            <span>@entry.IPAddress</span>
                        </li>
                        <li>
                            <strong>Zatwierdził:</strong>
                            @if (string.IsNullOrEmpty(entry.ApprovedBy)) {
                                <span class="alert-danger">NIKT JESZCZE NIE ZATWIERDZIŁ</span>
                            } else {
                                <span>@entry.ApprovedBy</span>
                            }
                        </li>
                    </ul>
                </div>

                <div id="audit-@entry.Id" role="alert" class="alert">
                    <strong>audyt</strong>
                    <ul id="problems-@entry.Id"></ul>
                    <a asp-controller="admin" asp-action="edit" asp-route-id="@entry.Id" class="btn btn-primary">Edycja hasła</a>

                    @if (string.IsNullOrEmpty(entry.ApprovedBy)) {
                        <button class="btn btn-warning" id="approve-@entry.Id">Zatwierdź</button>
                    }
                </div>
                }       
            </div>
            
        </div>

        <div class="card-footer">
            <div class="fb-like" data-href="https://slownikpolonijny.com/@ViewData["Link"]" data-width="" data-layout="button" data-action="like" data-size="small" data-share="true"></div>
        </div>
    </div>
    <br />
}

<div class="centered-block">
    <a class="btn btn-success" asp-action="random" role="button">
        Losuj hasło
        @* <svg class="bi" width="24" height="24" fill="currentColor">
            <use xlink:href="/icons/bootstrap-icons.svg#shuffle"/>
        </svg> *@
    </a>
</div>

@if (Model.ShowEdit)
{

<script type="text/javascript">

function requestAudit(entryId) {
    $.ajax({
        type: "GET",
        url:  "/admin/audyt/" + entryId
    })
    .done(function(resp) {
        console.log(resp);
        if (resp.success) {
            $("#audit-" + entryId).removeClass("alert-danger");
            $("#audit-" + entryId).addClass("alert-success");
            $("#problems-" + entryId).append("<li>ok</li>");
        } else {
            $("#audit-" + entryId).removeClass("alert-success");
            $("#audit-" + entryId).addClass("alert-danger");
            var pl = $("#problems-" + entryId);
            pl.children().remove();
            for (var i = 0; i < resp.problems.length; ++i) {
                pl.append("<li>" + resp.problems[i] + "</li>");
            }
        }
    })
    .fail(function(resp, textStatus, errorThrown) {
        console.log(resp);
        $("#audit-" + entryId).removeClass("alert-success");
        $("#audit-" + entryId).addClass("alert-danger");
        var pl = $("#problems-" + entryId);
        pl.children().remove();
        pl.append("<li>" + textStatus + "</li>");
    });
}

function hookupApproveBtn(entryId) {
    $("#approve-" + entryId).click(function(ev) {
        console.log("Approving entry: " + entryId);
        $.ajax({
            type: "POST",
            url:  "/admin/zatwierdz/" + entryId
        })
        .done(function(resp) {
            console.log(resp);
            if (resp.success) {
                window.location.reload(true);
            } else {
                $("#audit-" + entryId).removeClass("alert-success");
                $("#audit-" + entryId).addClass("alert-danger");
                var pl = $("#problems-" + entryId);
                pl.children().remove();
                for (var i = 0; i < resp.problems.length; ++i) {
                    pl.append("<li>" + resp.problems[i] + "</li>");
                }
            }
        })
        .fail(function(resp, textStatus, errorThrown) {
            console.log(resp);
            $("#audit-" + entryId).removeClass("alert-success");
            $("#audit-" + entryId).addClass("alert-danger");
            var pl = $("#problems-" + entryId);
            pl.children().remove();
            pl.append("<li>" + textStatus + "</li>");
        });
    });
}

document.onreadystatechange = () => {
    if (document.readyState === 'complete') {
        @foreach (var entry in Model.Entries)
        {
            <text>requestAudit("@entry.Id");</text>
            <text>hookupApproveBtn("@entry.Id");</text>
        }
    }
};
</script>
}
else
{
    <partial name="_HorizontalAd" />
}
